{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}"> 
{% endblock %}
<header id="input-data">
</header>

<body>

<h1>Weekly overview</h1>
{% block content %} 

<hr>
{% for income in overview_list %}
    {{ income.db_total_income }}
{% endfor %}
<div class="dropdown">
    <button class="dropbtn">Input your data</button>
    <div class="dropdown-content">
    <form method="post" action = "/add">
    <div class="box1">
        <section id="total-income">
            <input type="text" placeholder="Total income" name="total_income">
        </section>

        <section id="highest-spend">
            <input type="text" placeholder="Highest spend" name="highest_spend">
        </section>
    </div>
    <div class="box2">
        <section id="best-selling-item">
            <input type="text" placeholder="Best selling item" name="best_selling_item">
        </section>

        <section id="least-sold-item">
            <input type="text" placeholder="Least sold item" name="least_selling_item">
        </section>
    </div>

    <div class="box3">
        <section id="MVP-staff">
            <input type="text" placeholder="MVP staff" name="MVP_staff">
        </section>
        
    </div>
    <div class="enter">
        <input type="submit">
        </div>
    </div>
</div>

</form>

<div class="id">
    <div class="idc1">
        <p>Total:</p>
    </div>
    <div class="idc2">
        <p>Highest spend:</p>
        
    </div>
</div>
<div class="id1">
    <div class="id1c1">
        <p>Best selling:</p>
    </div>
    <div class="id1c2">
        <p>Least sold:</p>
    </div>
</div>
<div class="id2">
    <p>MVP Staff Member</p>
</div>

<div class="graph">
    <img src="{{ url_for('static', filename='images/bar_monday 1.png') }}">
</div>



{% endblock %}
</body>
</html>