{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='days.css') }}"> 
{% endblock %}
{% block content %} <div class="monday">
    <header>
        <h1>Monday overview</h1>
    </header>

    <div class="whole">
        <div class="lsec">
            <div class="mvp">
                <p>MVP</p>
            </div>
            <div class="best-selling-item">
              <p>Best selling item</p> 
            </div> 
            <div class="least-sold-item">
               <p>Least sold item</p> 
              </div> 
              <div class="profit">
                <p>Overall profit</p>
               </div> 

    </div>
    </div>
   <div class="graph">
    <img src="{{ url_for('static', filename='images/bar_monday 1.png') }}">
        </div>
        
    <div class="graph1">
        <img src="" alt="graph"> 
       </div>
    
</div>
   
    
    </div>{% endblock %}