{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='days.css') }}"> 
{% endblock %}
{% block content %} <div class="monday">
    <header>
        <h1>Sunday overview</h1>
    </header>

    <div class="whole">
        <div class="lsec">
        <section id="MVP">
            MVP
        </section>
        <section id="best-selling-item">
            Best selling item
        </section>
        <section id="least-sold-item">
            Least sold item
        </section>
        <section id="profit">
            Overall profit
        </section>
    </div>
    
   <div class="graph">
        <aside >
        <img src="" alt="chart">
    </aside>
        </div>
    </div>
</div>
   
    
    </div>{% endblock %}