.monday {
    background-color: aqua;
}

body {
    background-color: aqua;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:slategray;
}

nav a {
    border: 0.5%;
}

h1 {
    justify-content: center;
    align-items: center;
}

.whole {
    background-color: gainsboro;
    display: flex;
    justify-content: left;
    margin-bottom: 1%;
    margin: 1%;
    width: auto;
    padding: 5%;
    border: 5px rgb(89, 87, 87) solid;
}

.graph {
    background-color: gainsboro;
    display: flex;
    justify-content: right;
    margin-bottom: 1%;
    margin: 1%;
    width: auto;
    padding: 5%;
    border: 5px rgb(89, 87, 87) solid;
}